<!DOCTYPE html>
<html>
	<head>
		 <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
		<title>Prediction</title>
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div>
			<form action="/get_the_prediction/" method="POST">
				  <!-- The Modal (contains the Sign Up form) -->
				<div id="id01" class="modal">
					<div class="modal-content animate" action="/action_page.php">
						<div class="container">
							<h1>Profile</h1>
							<p>Please fill in this form to get the prediction</p>
							<hr>
							<div class="inputs">
								<p><input class="input_field" type="text" placeholder="Enter your name" name="user_name"  value="" required id="user_name"></p>
								<p><input class="input_field" type="text" placeholder="Enter your age" name="user_age" value="" required id="user_age"></p>
								<p><input class="input_field" type="text" placeholder="Enter your city" name="user_city" value="" required id="user_city"></p>
							</div>

<!--							<label for="checkbox"><b>Choose spheres of interests:</b></label>-->
<!--							<p><label class="checkbox-inline"><input type="checkbox" value="">Maths</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Literature</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Programming</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Languages</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Physics</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Programming</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Geography</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Сhemistry</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Biology</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Geography</label>-->
<!--							<label class="checkbox-inline"><input type="checkbox" value="">Other</label></p>-->

							<div class="clearfix">
								<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
								<p><button action="/get_the_prediction/" method="POST" type="submit" class="signupbtn">Prediction</button></p>
							</div>
						</div>
					</div>
				</div>
				<button onclick="document.getElementById('id01').style.display='block'" type="button" id="sign_button"  class="btn btn success">Get the prediction</button>
<!--				<button class="btn success">Get the prediction</button>-->
			</form>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>

